{% extends 'base.html.j2' %}
{% block title %} {{ post.title }} {% endblock %}

{% block content %}
  {% if post.id is not defined %}
    <h1>Post not found</h1>
  {% else %}
    <div class="post-header">
      <h1>{{ post.title }}</h1>
      {% if current_user.is_authenticated %}{#delete button available only for logged in users#}
      <button onclick="location.href='{{ url_for('pages.delete_post', post_id=post.id) }}'"
              class="btn btn-delete tooltip-bottom"
              data-tooltip="Permanently delete this post">
              Delete
      </button>
      {% endif %}
    </div>
    <img src="/files/{{ post.teaser_image }}" class="img-responsive article-image-inner" alt="">
    {{ post.body|safe }}
  {% endif %}
{% endblock %}


