body {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

header {
  padding: 20px;
  background-color: #ebedff;
}

main {
  margin-top: 40px;
}

.chip {
  overflow: initial;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.user-submenu {
  display: none;
}

.article-card {
  margin: 10px;
}
.promoted-card {
  border: 2px solid blue;
}

.promoted-posts,
.non-promoted-posts {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.article-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.article-image-inner {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  object-fit: cover;
}

.user-menu:hover > .user-submenu {
  position: absolute;
  top: 30px;
  top: 20px;
  height: 90px;
  width: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: #d7edff;
  border-radius: 20px;
}

.user-menu > .user-submenu a {
  margin-top: 10px;
}

.ck-editor__editable_inline {
  min-height: 400px;
}

#createPost {
  margin-top: 20px;
}

#savePost {
  margin-top: 20px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-delete {
  background-color: red;
  color: white;
}

.btn-delete:hover,
.btn-edit:hover,
.btn-delete:hover {
  color: black;
}

.tooltip-bottom {
  position: relative;
}

.tooltip-bottom::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.tooltip-bottom:hover::after {
  opacity: 1;
}

.btn-edit {
  background-color: rgb(42, 42, 192);
  color: white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  margin-right: 20px;
}

.hidden {
  display: none;
}

#deleteImageBtn {
  background-color: orange;
  color: white;
}
